body{
    background-color: blanchedalmond;
}
.card{
    width: 150px;
    image-rendering: auto;
    background-color: aqua;
    border-radius: 8px;
    border: 2px solid black;
    margin: 50px;
    padding: 9px;
}
.pic{
    width: 150px;
}
body{
    background-color: blanchedalmond;
    /* display: flex; */
}
.po{
    display: flex;
}
/* .card{
    width: 150px;
    image-rendering: auto;
    background-color: aqua;
    border-radius: 8px;
    border: 2px solid black;
    margin: 50px;
    padding: 9px;
}
.pic{
    width: 150px;
} */